.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('https://images.unsplash.com/photo-1428223501723-d821c5d00ca3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loginTitle{
    font-size: 50px;
}

.loginForm{
    width: 45%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm > label {
    margin: 10px 0;
    /* above line for margin top and bottom 10px and right and left 0 */  
} 

.loginInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(239, 81, 81);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.loginButton:disabled{
   cursor: not-allowed;
   background-color: rgb(252,173,173);
}

.loginRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}